// Breakpoints
$breakpoint-s: 300px;
$breakpoint-m: 576px;
$breakpoint-l: 768px;
$breakpoint-xl: 1140px;

// Map of brakpoints name
$brekpointName: (
  "": $breakpoint-s,
  "-s": $breakpoint-s,
  "-m": $breakpoint-m,
  "-l": $breakpoint-l,
  "-xl": $breakpoint-xl,
);

// Primary value
$primarySpace: 4; // 4px
$maxCount: 24;

@for $i from 1 through $maxCount {
  @each $name, $breakpoint in $brekpointName {
    .m-#{$i}#{$name} {
      @media (min-width: $breakpoint-md) {
        margin: ($primarySpace * $i) px;
      }
    }
  }
}

@for $i from 1 through $maxCount {
  @each $name, $breakpoint in $brekpointName {
    .m-l#{$i}#{$name} {
      @media (min-width: $breakpoint-md) {
        margin-left: ($primarySpace * $i) px;
      }
    }
  }
}

@for $i from 1 through $maxCount {
  @each $name, $breakpoint in $brekpointName {
    .m-r#{$i}#{$name} {
      @media (min-width: $breakpoint-md) {
        margin-right: ($primarySpace * $i) px;
      }
    }
  }
}

@for $i from 1 through $maxCount {
  @each $name, $breakpoint in $brekpointName {
    .m-t#{$i}#{$name} {
      @media (min-width: $breakpoint-md) {
        margin-top: ($primarySpace * $i) px;
      }
    }
  }
}

@for $i from 1 through $maxCount {
  @each $name, $breakpoint in $brekpointName {
    .m-b#{$i}#{$name} {
      @media (min-width: $breakpoint-md) {
        margin-bottom: ($primarySpace * $i) px;
      }
    }
  }
}
