@use "./breakpoint_variables";

// Primary value
$primaryStep: 0.25rem;
$maxCount: 12;

@for $i from 1 through $maxCount {
  @each $name, $breakpoint in $breakpointName {
    .fs-#{$i}#{$name} {
      @media (min-width: $breakpoint) {
        font-size: $primaryStep * $i;
      }
    }
  }
}

@for $i from 1 through $maxCount {
  @each $name, $breakpoint in $breakpointName {
    .center#{$name} {
      @media (min-width: $breakpoint) {
        text-align: center;
      }
    }
  }
}

@for $i from 1 through $maxCount {
  @each $name, $breakpoint in $breakpointName {
    .left#{$name} {
      @media (min-width: $breakpoint) {
        text-align: left;
      }
    }
  }
}

@for $i from 1 through $maxCount {
  @each $name, $breakpoint in $breakpointName {
    .right#{$name} {
      @media (min-width: $breakpoint) {
        text-align: right;
      }
    }
  }
}
