$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-xl: 1140px;

@mixin laptop {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin midmobile {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}