@use 'sass:map';
@import '../../styles/settings/colors';
@import "../../styles/atomic/px_to_rem";

ul li{
  padding: px-to-rem(8px);
  margin: 0 px-to-rem(8px);
  border: 1px solid transparent;
  &:hover {
    color: map.get($colors, 2);
  }
}