@use "sass:map";

[class^="icon"] {
  width: 1.25rem;
  height: 1.25rem;
  fill:  map.get($colors,1);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-bars {
  background-image: url("../../assets/icons/bars.svg");
}

.icon-close {
  background-image: url("../../assets/icons/close.svg");
}
